@model PI4_Inleveropdracht_Web_application.Models.BeheerderApplicatie

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>BeheerderApplicatie</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProjectId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProjectId)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BeheerderId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
